.quiz-container {
    width: 500pxn;
    height: 300px;
    border: 1px solid lightgray;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 5px 6px 20px;



}

.option {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
}

.eye-icon {
    display: flex;
    justify-content: space-between;
}