.cart img {
    width: 250px;
    height: 150px;
    border-radius: 10px;
}

.cart {
    border: 1px solid lightgray;
    padding: px;
    width: 260px;
    height: 310px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: lightgrey;

}

.btn-icon {
    display: flex;
}

.btn-cart {
    /* display: flex; */
}